<footer class="footer" style="background-color: RGB(33, 33, 33); color: #fff;">
    <div class="container">
      <div class="row">
        <div class="col">
          Desenvolvido por Rafael
        </div>
        <div class="col">
          <a href="https://www.linkedin.com/in/rafael-camilo-developer/" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
        </div>
        <div class="col">
          <a href="https://github.com/Rafael-co/" target="_blank">
            <i class="fab fa-github"></i> GitHub
          </a>
        </div>
      </div>
    </div>
  </footer>